.header {
    grid-area: header;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
.container {
    display: grid;
    grid-template-areas: 'header header'
    'left right'
    'footer footer';
    grid-gap: 5px;
    text-align: center;
}

.left {
    grid-area: left;
    background-color: #f1f1f1;
    padding: 15px;
    text-align: center;
    font-size: 35px;
}

.right {
    grid-area: right;
    background-color: #f1f1f1;
    padding: 35px;
    text-align: center;
    font-size: 35px;
}

.footer {  
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 100px;
    text-align: center;
    font-size: 25px;}

.form {
    display: inline-block; 
    width:18%;
}
.form2 {
    display: inline-block; 
    width: 60px;
}

.select {
}